/*https://www.w3schools.com/css/default.asp*/

body {
    background-color: rgb(253, 253, 253);
  }
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  p {
    font-family: serif;
    font-size: 20px;
  }
  