
body {
  background-color: lightblue;
  cursor: url('../pagines/imatges/buo definitivo.png'),auto;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  font-size: 20px;
  font-family: verdana;
  text-align: left;
}

.b{
  font-size: 20px;
  font-family: verdana;
  text-align: left;

}
p
{
      font-family: verdana;
        font-size: 14px;
        text-align: left;

}
