/*https://www.w3schools.com/css/default.asp*/
body{
    background-color: black;

}
h1{
    color:white;
    font-size: 30px;
    font-family:monospace

}
 h2 {
        color:darkturquoise;
        text-align:center;
        font-size: 40px;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
.pollo{
    color:rgb(255, 130, 47);
        text-align:center;
        font-size: 35px;
        font-family:cursive;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    font-size: 20px;
    font-family: verdana;
    text-align: left;
  }