@font-face {
    font-family: 'Elegantile';
    src: url('Elegantile.woff2') format('woff2'),
        url('Elegantile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

