body{
   background-color: aqua;
}

hr{
    border-width: 3px; 
}


h1{
    text-align: center;
    font-size:100%;
}   

p{

    text-align: center;
    font-size:100%;

}

.boton{
    
    top: 50%;
    
    
}

    

